body
{
    background-image: url(bg2.png);
    background-position: center;
    background-size: cover;
}
.navBar
{   
    background-color: #0095ffca;
    display: flex;
    padding: 5px;
    border-bottom: 10px solid;
    border-color: #0095ffca;
    position: fixed;
    top: -8px;
    left: -8px;
    width: 100.3%;
    position: relative;
}

.name
{
    border-style: outset;
    width: 13%;
    font-size: 60px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
   
}

.navBar a
{
   float: left;
   display: block;
   margin-top: auto;
   padding: 10px;
   margin-left: 3px;
   font-size: 25px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   
   
}

.navBar a:hover
{
    background-color: #0062a9ca;
}

.navBar a:active
{
    box-shadow: none;
    top: 5px;
}

.sign-in
{
    font-size: 24px;
    padding-right: 10px;
    margin-left: auto;
    margin-top: auto;
    color: white;
}

.search
{
    font-size: 25px;
    float: left;
    position: relative;
    
    width: fit-content;
    height: 25;
    margin-top: 100px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
}

button[type="submit"] {
    
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
button[type="submit"]:hover {
    background-color: #0062a9ca;
  }

input[name = "uname"]
{
    height: 25px;
}

input[name = "psw"]
{
    height: 25px;
}

.forum-section
{
    width: 50%;
    padding: 10px;
    border: 1px ;
    position: relative;
    left: 25%;
    top: 4%;
    background-color: whitesmoke;
    border-radius: 5px;
}



.forum-section h2
{
    padding: 10px;
    color: white;
    background-color: #0062a9ca;
    position: relative;
    top: -15px;
    left: -2px;
    width: 98%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.forum-title 
{
  width: fit-content;
  height: fit-content;
  background-color: white;
  
}

.forum-title a
{
  text-decoration: none;
  color: black;
}

.description
{
    background-color: white;
    background: url(bg2.png);
    padding: 5px;
    border-top-left-radius: 10px;
    font-size: 17px;
}

.about-us {
    position: absolute;
    top: 15%;
    display: inline-block;
    background-color: #0062a9ca;
    color:  white;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    left: 50px;
  }
  
  .about-us-dpd {
    display: none;
    position: absolute;
    background-color: #0095ffca;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: justify;
    font-size: 18px;
  }
  
  .about-us:hover .about-us-dpd {
    display: block;
  }

  .container
  {
      width: 50%;
      padding: 10px;
      border: 1px ;
      position: relative;
      left: 25%;
      top: 4%;
      background-color: whitesmoke;
      border-radius: 5px;
  }


  .container h1
  {
    padding: 10px;
    color: white;
    background-color: #0062a9ca;
    position: relative;
    top: -15px;
    left: -2px;
    width: 98%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

